.footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    background: #343a40;
}

.footerDistributed {
    display: flex;
    background-color: #343a40;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 25px;
    
    align-items: center;
}

.footerCompanyName {
    color: #92999f;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footerDistributed .footer-right {
    width: 78%;
}
